@model List<IoTDevice>
@{
    ViewData["Title"] = "All Water Meters";
}
<h2>@ViewData["Title"]</h2>

<div class="content" >
    <canvas id="canvas" style="width:100%;height:80%"></canvas>
    <div class="toolbar">
        <a asp-action="Meters"><button class="btn btn-primary">All Water Meters</button></a>
    </div>
</div>
@section scripts {
    <script>


    var config = {
        type: 'pie',
        data: {
            datasets: [{
                data: [
                    @ViewData["activedevices"] ,  @ViewData["inactivedevices"]
                ],
                backgroundColor: [
                    window.chartColors.green,
                    window.chartColors.red
                ],
                label: '@ViewData["Title"]'
            }],
            labels: [
                'Active Meters',
                'In-Active Meters'
            ]
        },
        options: {
            responsive: true
        }
    };

    window.onload = function () {
        var ctx = document.getElementById('canvas').getContext('2d');
        window.myPie = new Chart(ctx, config);
    };
    </script>
}

